  <section id="search" class="search-wrap">
    <h1>Find An App</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="G Suite, O365, Dropbox...">
      <input type="submit" value="Search">
    </form>
  </section>
